nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}



table, td
{
    /* Custom attributes for table and tabledata */
    cursor: default;
    margin: auto;
    border: 1px solid #dee2e6;
    width: auto;
}

td
{
    /* Assign fixed size to tablecells */
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.unused:hover {
    /* Make the cursor interactive for unused blocks */
    cursor: pointer;
}

.bigger {
    /* Make footer text bigger */
    font-size: 20px;
}

.hidden {
    /* Do not display hidden messages */
    display: none;
}

.shown {
    /* Make a message visible */
    display: inherit;
}